body, html {
    margin: 0;
    padding: 0;
}
body {
    background: #1D2E59;
    background: #2E4D61;
    background: #121020;
    color: #fff;
    font-family: "Roboto Mono";
    font-weight: 300;
    font-size: 10pt;
    line-height: 1.7em;
}
a {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dashed #777;
}
a:hover {
    color: #ccc;
    border-bottom: 1px dashed #fff;
}
#bio h1 {
    text-align: left;
    margin: 0 0 2em 0;
    font-weight: 300;
}
#bio em {
    border-bottom: 1px dashed #fff;
    font-style: normal;
}
#experience > article {
    padding: 1em 0;
}
#experience > article > .company {
}
#experience > article > .date {
    text-align: left;
    color: #777;
}
#experience > article > .description {
    color: #aaa;
}
#experience > article > .description > em {
    font-style: normal;
}
#experience > article:hover > .description > em {
    color: #fff;
}
footer {
    padding: 2em 1em;
    text-align: right;
}
footer > a {
    margin-right: 2em;
}
@media only screen and (min-width: 701px) {
    main {
        min-width: 600px;
        max-width: 1000px;
        margin: 7em auto 2em auto;
        padding: 0 5em;
    }
    #experience > article {
        display: flex;
        flex-direction: row;
        min-height: 4em;
    }
    #experience > article > .company {
        width: 33%;
    }
    #experience > article > .date {
        width: 22%;
    }
    #experience > article > .description {
        width: 45%;
    }
    #bio {
        margin: 0 0 4em 0;
    }
}
@media only screen and (max-width: 800px) {
    main {
        width: auto;
        margin: 3em 1em;
        padding: 0 1em;
    }
}
@media only screen and (max-width: 700px) {
    main {
        width: auto;
        margin: 2em 0 2em 0;
        padding: 0 1em;
    }
    #bio {
        margin: 0 0 2em 0;
    }
    #experience > article > .company {
        margin-bottom: 0.5em;
    }
}
